
# ignore all logs
**/logs

# ignore all git folders inside project
**/.git


# ignore volumes
**/.container_data/
**/container_logs

# ignore all vscode-settings
**/.vscode

# protected files
*.env.yml
*.env

# ignore all keys
*.cnf
*.pem
*.srl
